* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "PlusJakartaSans";
  src: url(fonts/PlusJakartaSans-Regular.ttf);
}
body {
  background-color: #f6f7f9;
  font-family: "PlusJakartaSans";
}
footer {
  background-color: white;
}
.mainContainer {
  background-color: white;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
}
.MORENTcontainer {
  padding: 80px 60px 0px 60px;
  display: flex;
  justify-content: space-between;
}
.logo-desc {
  width: 292px;
  height: 48px;
  margin-right: 452px;
}
.description {
  margin-top: 16px;
  color: #13131360;
}
.footerList ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 20px;
}
.footerList li {
  color: #13131360;
}
.footerList a {
  text-decoration: none;
}
li:hover {
  color: #131313;
}
.footerList h4 {
  cursor: default;
  font-size: 20px;
}
.footerEND {
  display: flex;
  border-top: 1px solid #13131316;
  margin-top: 36px;
  padding-left: 60px;
  justify-content: space-between;
  padding-top: 36px;
  padding-bottom: 60px;
}
.footerEND span {
  margin: 0px 60px 0px 680px;
}
.footerEND a {
  text-decoration: none;
  color: #131313;
  display: flex;
}
